@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');

body {
    background-color: #e9fff9;
}

.navbar {
    color: #000;
    background-color: #fff;
    border-style: solid;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: inherit;
}

ul li {
    list-style-type: none;
}

footer  {
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.footer-title-one,
.footer-title-two,
.footer-title-three {
    font-weight: bold;
}