@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');

/* General Elements */

html {
    scroll-behavior: smooth;
    width: auto;
    height: auto;
}

body {
    background-color: #E9FFF9;
    background-image: url('assets/images/asthmalady.jpg');
    margin-left:0;
    margin-right: 0;
}

.section{
    background-color: #E9FFF9;;
    margin-left:7%;
    margin-right:7%;
}

.sectionSpinOff{
    background-color: #E9FFF9;;
}

a {
   color: #000;
    text-decoration: none;
    background-color: transparent;
}

p {
    font-family: "Montserrat", sans-serif;
}

.margin-box{
    background-color: #fff;
    border:solid;
    border-width:thin;
    padding-bottom:7%;

}

h5 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.mobileBox {
    height: 50px;
}

/* Navbar Elements */

.navbar {
    color: #000;
    border-style: solid;
    border-width:thin;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
}

.navabar a {
    float: right;
}

.social-icon-top {
    display: contents;
}

/* Heading Elements */

h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    text-align: center;
}

h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.subtitle {
    padding-top: 4%;
}

.title {
    padding-top: 5%;
    padding-bottom: 4%;
}

.KMA-title {
    font-size: 300%;
    font-family: "Montserrat Subrayada", sans-serif;
    text-align: center;
}

/* Images */

.mask-img {
    padding-right: 10%;
    padding-top: 17%;
    padding-left: 5%;
    width: 90%;
    height: auto;
    position: relative;
}

.heroImgAbout{
    width:100%;
    margin: auto;
    display: block;
    padding-bottom: 7%;
}

.featuredImageOne {
    width: 60%;
    padding-bottom: 20%;
}

.featuredImage {
    width: 60%;
    padding-bottom: 20%;
    padding-top:25%;
}

.carouselImg1 {
    height: 50%;
    width: 50%;
}

.carouselImg2 {
    height: 50%;
    width: 50%;
}

.carouselImg3 {
    height: 50%;
    width: 50%;
}

/* Index */

.index-main-box {
    background-color:#9ED8DB;
    border-style: solid;
    border-width:thin;
    border:#000;
}

.indexSection1 {
    padding-bottom:4%;
}

.spicyTitle {
    padding: 2%;
    top: -30px;
    left: -30px;
    background: #E9FFF9;
    border-style: solid;
    border-width:thin;
}

.spicyTitle2 {
    left: -16px;
    top: -30px;
    background: #D64045;
    border-style: solid;
    border-width:thin;
    padding: 2%;
}

.spicyBox {
    background-color:#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.spicyBox2 {
    background-color: #9ED8DB;
    margin-top: 7%;
    border-left:solid;
    border-right:solid;
    border-top:solid;
    border-width:thin;
    width: 100%;
    right: 0px;
}

.fullWidth {
    width: 100%;
}

.card {
    text-align: center;
}

.signUpBox {
    height: auto;

}

.SignUpTitle {
    border-style: solid;
    border-width:thin;
    background-color:#D64045;
    font-family:"Montserrat", sans-serif;
    float: right;
    width: auto;
    margin-right: 5%;
    margin-top: 10%;
}

.signUpForm {
    margin-top:3%;
}

.signUpBtn {
    text-align: center;
    margin-top:2%;
    margin-bottom:5%;
    margin-left:45%;
}

.formOne{
    text-align: center;
    margin-left:15%;
    margin-bottom:3%;
    width:70%;
}

.takeMeBtn{
    border-style: solid;
    border-width: thin;
    background-color:#D64045;
    font-family: "Montserrat", sans-serif;
    padding: 2%;
    margin-left:42%;
    margin-bottom:5%;
}

#demo{
    text-align: center;
}

/* About */

.about {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-title-box {
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.left-about-text-boxes {
    width:60%;
    display:block;
}

.right-about-text-boxes {
    width:60%;
    display: block;
    margin-left: 70%;
}

.about-text-box-1 {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-2 {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-3 {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-4 {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.abtRow {
    padding-bottom:15%;
}

/* About Carousel */

.carousel-inner {
    width:100%;
    height: 50%;
}

/* Blog Page */

.blog {
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-title-box {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.scroll-box {
    border-width:thin;
    border-style: solid;
    margin-left:10%;
    margin-bottom:10%;
    background-color: #E9FFF9; 
    width: 80%; 
    height: 500px; 
    overflow-y: scroll;
    text-align:center; 
}

.btn-full {
    margin: 2%;
    width: 100%;
}

.blogBoxOne {
    background-color: 	#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.blogBoxTwo {
    background-color: 	#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.blogBoxThree {
    background-color:#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
    margin-bottom:10%;
}

.readMore{
    background-color:#D64045!important;
    border-style: solid;
    border-width:thin;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

/* Blog The Modal */

.modal {
    display: block;
    justify-content: center;
    position: fixed;
    margin-left: 25%;
    z-index: 2;
    padding-left:0px;
    height:70%;
    margin-top:10%;
}

.modal-backdrop {
    z-index: 1;
}

.modal-content {
    margin:3.5%;
}

.close-modal {
    margin-top:5%;
    margin-right:3%;
}

/* Blog the Viewer */

.viewPic1,
.viewPic2,
.viewPic3 {
    width: 60%;
    height: auto;
}
/* To Do Page */

.todo-title-box {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#myInput {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#fff;
    color:#000;
    font-family:"Montserrat", sans-serif;
    margin-left:36%;
}

#myUL{
    text-align: center;
}

.addBtn {
    background-color:#D64045;
}

#addBtn {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
}

--

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
/* Contact Page */

.contact {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact-title-box {
    border-width:thin;
    border-style: solid;
    background-color:#1D3354;;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
}

.form {
    height: auto;
    align-items: center;
}

.form-box {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color:#000;
    border:#000 2px;
    border-style: solid;
    border-width:thin;
    padding: 5%;
    background-color:#E9FFF9;
}

.submitBtn{
    background-color:#D64045;
}

.submitTwo{
    background-color:#D64045;
    margin-left:43%;
    margin-top:5%;
}

.CF1,
.CF2,
.CF3{
    text-align: center;
}

/* Map */

#map { height: 350px;}

/* Back To Top Button */
#backButton {
  display: inline-block;
  background-color: #D64045;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backButton:hover {
  cursor: pointer;
  background-color: #333;
}
#backButton:active {
  background-color: #555;
}
#backButton.show {
  opacity: 1;
  visibility: visible;
}

/* Footer Elements */

footer {
    font-family: "Montserrat", sans-serif;
    position: relative;
    background-color: #fff;
    border: solid;
    border-width:thin;
}

.footer-box-one {
    position: flex;
}

.footer-box-two {
    border-top: solid;
    background-color: #fff;
}

.footer-title-one,
.footer-title-two,
.footer-title-three {
    font-weight: bold;
}

.useful-links-ul,
.address-ul,
.legal-ul {
    padding-left:0;
}

.footerContainer{
    margin-top:5%;
    position: sticky;
}