@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');

/* General Elements */

html {
    scroll-behavior: smooth;
    width: auto;
    height: auto;
}

body {
    background-color: #E9FFF9;
    margin-left:0;
    margin-right: 0;
}

.section{
    background-color: #E9FFF9;;
    margin-left:7%;
    margin-right:7%;
}

.sectionSpinOff{
    background-color: #E9FFF9;;
}

a {
   color: #000;
    text-decoration: none;
    background-color: transparent;
}

p {
    font-family: "Montserrat", sans-serif;
}

.margin-box{
    background-color: #fff;
    border:solid;
    border-width:thin;
    padding-bottom:7%;

}

h5 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.mobileBox {
    height: 50px;
}

/* Navbar Elements */

.navbar {
    color: #000;
    border-style: solid;
    border-width:thin;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
}

.navabar a {
    float: right;
}

.social-icon-top {
    display: contents;
}

/* Heading Elements */

h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    text-align: center;
}

h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.subtitle {
    padding-top: 4%;
}

.title {
    padding-top: 5%;
    padding-bottom: 4%;
}

.KMA-title {
    font-size: 300%;
    font-family: "Montserrat Subrayada", sans-serif;
    text-align: center;
}

/* Images */

.mask-img {
    padding-right: 10%;
    padding-top: 17%;
    padding-left: 5%;
    width: 90%;
    height: auto;
    position: relative;
}

.heroImgAbout{
    width:100%;
    margin: auto;
    display: block;
    padding-bottom: 7%;
}

.featuredImageOne {
    width: 60%;
    padding-bottom: 20%;
}

.featuredImage {
    width: 60%;
    padding-bottom: 20%;
    padding-top:25%;
}

.carouselImg1 {
    height: 50%;
    width: 50%;
}

.carouselImg2 {
    height: 50%;
    width: 50%;
}

.carouselImg3 {
    height: 50%;
    width: 50%;
}

/* Index */

.index-main-box {
    background-color:#9ED8DB;
    border-style: solid;
    border-width:thin;
    border:#000;
}

.indexSection1 {
    padding-bottom:4%;
}

.spicyTitle {
    padding: 2%;
    top: -30px;
    left: -30px;
    background: #E9FFF9;
    border-style: solid;
    border-width:thin;
}

.spicyTitle2 {
    left: -16px;
    top: -30px;
    background: #D64045;
    border-style: solid;
    border-width:thin;
    padding: 2%;
}

.spicyBox {
    background-color:#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.spicyBox2 {
    background-color: #9ED8DB;
    margin-top: 7%;
    border-left:solid;
    border-right:solid;
    border-top:solid;
    border-width:thin;
    width: 100%;
    right: 0px;
}

.fullWidth {
    width: 100%;
}

.card {
    text-align: center;
}

.signUpBox {
    height: auto;

}

.SignUpTitle {
    border-style: solid;
    border-width:thin;
    background-color:#D64045;
    font-family:"Montserrat", sans-serif;
    float: right;
    width: auto;
    margin-right: 5%;
    margin-top: 10%;
}

.signUpForm {
    margin-top:3%;
}

.signUpBtn {
    text-align: center;
    margin-top:2%;
    margin-bottom:5%;
    margin-left:45%;
}

.formOne{
    text-align: center;
    margin-left:15%;
    margin-bottom:3%;
    width:70%;
}

.takeMeBtn{
    border-style: solid;
    border-width: thin;
    background-color:#D64045;
    font-family: "Montserrat", sans-serif;
    padding: 2%;
    margin-left:42%;
    margin-bottom:5%;
}

#demo{
    text-align: center;
}

.h41{
    text-align: left;
}

/* About */

.about {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-title-box {
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.left-about-text-boxes {
    width:60%;
    display:block;
}

.right-about-text-boxes {
    width:60%;
    display: block;
    margin-left: 70%;
}

.about-text-box-1 {
    background-color:#E9FFF9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-2 {
    background-color:#E9FFF9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-3 {
    background-color:#E9FFF9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.about-text-box-4 {
    background-color:#E9FFF9;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    border-width:thin;
    border-style: solid;
    display:table;
}

.abtRow {
    padding-bottom:5%;
}

/* About Carousel */

.carousel-inner {
    width:80%;
    height: 50%;
    margin-left:10%;
}

/* Blog Page */

button {
    z-index: 3;
}

.blog {
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-title-box {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.scroll-box {
    border-width:thin;
    border-style: solid;
    margin-left:10%;
    margin-bottom:10%;
    background-color: #E9FFF9; 
    width: 80%; 
    height: 500px; 
    overflow-y: scroll;
    text-align:center; 
}

.btn-full {
    margin: 2%;
    width: 100%;
}

.btn1,
.btn2,
.btn3{
    margin-bottom: 4%;
    margin-left: 40%;
    background-color: #D64045;
    border-color:#D64045;
}

.btn1,
.btn2,
.btn3:hover{
    margin-bottom: 4%;
    margin-left: 40%;
    background-color: #D64045;
    border-color:#D64045;
}

.h31{
    margin-top:5%;
}

.blogBoxOne {
    background-color: 	#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.blogBoxTwo {
    background-color: 	#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
}

.blogBoxThree {
    background-color:#9ED8DB;
    margin-top: 7%;
    border-style: solid;
    border-width:thin;
    width: 80%;
    margin-bottom:10%;
}

.readMore{
    background-color:#D64045!important;
    border-style: solid;
    border-width:thin;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

/* Blog The Modal */

.modal {
    display: block;
    justify-content: center;
    position: fixed;
    margin-left: 5%;
    z-index: 2;
    padding-left:0px;
    height:70%;
    margin-top:10%;
    max-width: 100%;
}

.modal-backdrop {
    z-index: 1;
}

.modal-dialog-centered {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-height:calc(100% - (1.75rem * 2));
}

.modal-content {
    margin:3.5%;
    width: 100%;
}

.close-modal {
    margin-top:5%;
    margin-right:3%;
}

/* Blog the Viewer */

.viewPic1,
.viewPic2,
.viewPic3 {
    width: 60%;
    height: auto;
}
/* To Do Page */

.todo-title-box {
    border:#000 2px;
    border-width:thin;
    border-style: solid;
    background-color:#1d3354;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #1D3354;
  color: white;
}

.header {
  background-color: #9ED8DB;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background-color:#9ED8DB;
  color: #000;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Contact Page */

.contact {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact-title-box {
    border-width:thin;
    border-style: solid;
    background-color:#1D3354;;
    color:#fff;
    font-family:"Montserrat", sans-serif;
    height: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
}

.form {
    height: auto;
    align-items: center;
}

.form-box {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color:#000;
    border:#000 2px;
    border-style: solid;
    border-width:thin;
    padding: 5%;
    background-color:#E9FFF9;
}

.submitBtn{
    background-color:#D64045;
}

.submitTwo{
    background-color:#D64045;
    margin-left:43%;
    margin-top:5%;
}

.CF1,
.CF2,
.CF3{
    text-align: center;
}

/* Map */

#map { height: 350px;}

/* To Top */

.to-top{
    background:#fff;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s
}

.to-top.active{
    bottom:32px;
    pointer-events: auto;
    opacity: 1;
}

/* Footer Elements */

footer {
    font-family: "Montserrat", sans-serif;
    position: relative;
    background-color: #fff;
    border: solid;
    border-width:thin;
}
.footer.pad:hover{
    color:#fff;
    text-decoration: none;

}

.footer-box-one {
    position: flex;
}

.footer-box-two {
    border-top: solid;
    background-color: #fff;
}

.footer-title-one,
.footer-title-two,
.footer-title-three {
    font-weight: bold;
}

.useful-links-ul,
.address-ul,
.legal-ul {
    padding-left:0;
}

.footerContainer{
    margin-top:5%;
    position: sticky;
}

.zfighter {
    z-index: 4;
}

footer ul li:hover{
    text-decoration: none;
    background:#fff;
}

footer ul li {
    text-decoration: none;
    background:#fff;
}